<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Dillon Waugh</h1>
    <p>Hi there! I'm Dillon, a Mandeville-born final year Computer Science major at the University of the West Indies Mona.<br>
    I am an avid analog and digital photography enthusiast and a few of my other hobbies include: music production, DIY projects,<br>
    simulator racing, watching anime, reading manga and cooking.
    </p>
</body>
</html>